.author {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.author h3 {
    margin-right: 1rem;
}

.authors-btn-row {
    margin-top: 0rem;
}