<h2 class="sub-title">Edit author</h2>
<%- include("../errorMessage.ejs") %>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%= author.name %>" required autocomplete="off">
    <a class="btn btn-danger" href="/authors">Cancel</a>    
    <button class="btn btn-primary" type="submit">Update</button>
</form>