<p>Search</p>
<form action="/authors" method="GET">
    <input type="text" name="name" required autocomplete="off" placeholder="author name">
    <button type="submit">Search</button>
</form>
<p>Existing authors :</p>
<% if(authors.length > 0) { %>
    <% authors.forEach(author => { %>
        <h3><%= author.name %></h3>
        <a href="/authors/<%= author.id %>">View</a>
        <a href="/authors/<%= author.id %>/edit">Edit</a>
        <form action="/authors/<%= author.id %>?_method=DELETE" method="POST">
            <!-- the post method will be overridden with delete -->
            <button type="submit">Delete</button>            
        </form>
    <% }) %>
<% } else {%>
    <p>No authors found!</p>
<% } %>    